*{
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background-image: radial-gradient(Circle, FloralWhite 20%, IndianRed, MediumSeaGreen)
}

.center {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple2 {
  opacity: 0%;
}

.apple3 {
  opacity: 0%;
}

.apple4 {
  opacity: 0%;
}

.apple5 {
  opacity: 0%;
}

@media screen and (max-width: 1500px) {

  .apple1 {
    opacity: 0%;
  }

}

@media screen and (max-width: 1500px) {

  .apple2 {
    opacity: 100%;
  }

}

@media screen and (max-width: 1200px) {

  .apple2 {
    opacity: 0%;
  }

}

@media screen and (max-width: 1200px) {

  .apple3 {
    opacity: 100%;
  }

}

@media screen and (max-width: 900px) {

  .apple3 {
    opacity: 0%;
  }

}

@media screen and (max-width: 900px) {

  .apple4 {
    opacity: 100%;
  }

}

@media screen and (max-width: 600px) {

  .apple4 {
    opacity: 0%;
  }

}

@media screen and (max-width: 600px) {

  .apple5 {
    opacity: 100%;
  }

}
