*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, rgb(242, 71, 41), rgb(255, 217, 88));
}

.ground {
  background-color: rgb(135, 145, 73);
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.circle {
  width: 500px;
  height: 500px;
  background-image: radial-gradient(rgb(255, 87, 24), rgb(255, 127, 45), transparent 70%);
  border-radius: 50%;
  position: fixed;
  top: 600px;
  left: 700px;
}

.dino {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: slideright 30s infinite linear;
}

@keyframes slideright {
  0% {
    transform: translateX(-420px);
  }
  100% {
    transform: translateX(100vw);
  }
}


.dino2 {
  position: fixed;
  bottom: 0;
  right: 0;
  animation: slideleft 30s infinite linear;

}

@keyframes slideleft {
  0% {
    transform: translateX(420px);
  }
  100% {
    transform: translateX(-100vw);
  }
}
